In [1]:
# Import necessary modules
import keras
from keras.layers import Dense
from keras.models import Sequential

## 1. Regression Model

In [2]:
import pandas as pd
df = pd.read_csv("./data/cps.csv")
col_names = df.iloc[0:1,:] 
df.columns = col_names.as_matrix()[0]

In [145]:
df = df.iloc[1:,:9]
df.head()

   wage educ race sex hispanic south  married exper  union
1     9   10    W   M       NH    NS  Married    27    Not
2   5.5   12    W   M       NH    NS  Married    20    Not
3   3.8   12    W   F       NH    NS   Single     4    Not
4  10.5   12    W   F       NH    NS  Married    29    Not
5    15   12    W   M       NH    NS  Married    40  Union

In [146]:
from sklearn.preprocessing import LabelBinarizer
lb = LabelBinarizer()
df['male'] = lb.fit_transform(df.sex)
df.south = lb.fit_transform(df.south)
df['single'] = lb.fit_transform(df.married)
df.union = lb.fit_transform(df.union)
df.__delitem__('sex')
df.__delitem__('married')
df.__delitem__('race')
df.__delitem__('hispanic')

In [147]:
df.head()

   wage educ  south exper  union  male  single
1     9   10      0    27      0     1       0
2   5.5   12      0    20      0     1       0
3   3.8   12      0     4      0     0       1
4  10.5   12      0    29      0     0       0
5    15   12      0    40      1     1       0

In [149]:
df.head()

   wage educ  south exper  union  male  single
1     9   10      0    27      0     1       0
2   5.5   12      0    20      0     1       0
3   3.8   12      0     4      0     0       1
4  10.5   12      0    29      0     0       0
5    15   12      0    40      1     1       0

In [150]:
predictors = df.iloc[1:,1:].as_matrix()
target = df.iloc[1:,0:1].as_matrix()

In [151]:
# Save the number of columns in predictors: n_cols
n_cols = predictors.shape[1]

In [152]:
# Set up the model: model
model = Sequential()

# Add the first layer
model.add(Dense(50, activation='relu', input_shape=(n_cols,)))

# Add the second layer
model.add(Dense(32,activation = 'relu'))

# Add the output layer
model.add(Dense(1))

In [153]:
# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

In [154]:
# Verify that model contains information from compiling
print("Loss function: " + model.loss)

Loss function: mean_squared_error

In [155]:
# Fit the model
model.fit(predictors, target)

Epoch 1/1
533/533 [==============================] - 0s 546us/step - loss: 61.5298

## 2. Classifying Model

In [329]:
# Import necessary modules
import keras
from keras.layers import Dense
from keras.models import Sequential
from keras.utils import to_categorical

In [330]:
import pandas as pd
df = pd.read_csv('./data/titanic.csv')

In [331]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [332]:
df['male'] = lb.fit_transform(df.Sex)
df.__delitem__('PassengerId')
df.__delitem__('Name')
df.__delitem__('Ticket')
df.__delitem__('Cabin')
df.__delitem__('Sex')

In [333]:
df.head()

   Survived  Pclass   Age  SibSp  Parch     Fare Embarked  male
0         0       3  22.0      1      0   7.2500        S     1
1         1       1  38.0      1      0  71.2833        C     0
2         1       3  26.0      0      0   7.9250        S     0
3         1       1  35.0      1      0  53.1000        S     0
4         0       3  35.0      0      0   8.0500        S     1

In [334]:
from keras.utils import to_categorical
target = to_categorical(df.Survived)

In [335]:
df['embarked_from_cherbourg'] = 0
df['embarked_from_queenstown'] = 0
df['embarked_from_southhampton'] = 0

In [336]:
df.loc[df['Embarked'] == 'C', 'embarked_from_cherbourg'] = 1
df.loc[df['Embarked'] == 'Q', 'embarked_from_queenstown'] = 1
df.loc[df['Embarked'] == 'S', 'embarked_from_southhampton'] = 1
df.__delitem__('Embarked')
df.__delitem__('Survived')

In [337]:
df.head()

,Pclass,Age,SibSp,Parch,Fare,male,embarked_from_cherbourg,embarked_from_queenstown,embarked_from_southhampton
0,3,22.0,1,0,7.2500,1,0,0,1
1,1,38.0,1,0,71.2833,0,1,0,0
2,3,26.0,0,0,7.9250,0,0,0,1
3,1,35.0,1,0,53.1000,0,0,0,1
4,3,35.0,0,0,8.0500,1,0,0,1

In [338]:
import numpy as np
df['age_was_missing'] = 0
df.loc[np.isnan(df['Age']), 'age_was_missing'] = 1

In [339]:
predictors = df.as_matrix()

In [340]:
n_cols = predictors.shape[1]
print(n_cols)

10

In [341]:
# Set up the model
model = Sequential()

In [342]:
# Add the first layer
model.add(Dense(32, activation='relu', input_shape=(n_cols,)))

In [343]:
# Add the output layer
model.add(Dense(2, activation='softmax'))

In [344]:
# Compile the model
model.compile(optimizer='sgd', loss='categorical_crossentropy', metrics=['accuracy'])

In [345]:
# Fit the model
model.fit(predictors,  target, epochs=10)

Epoch 1/10
891/891 [==============================] - 1s 624us/step - loss: 0.7300 - acc: 0.6117
Epoch 2/10
891/891 [==============================] - 0s 167us/step - loss: 0.6836 - acc: 0.6162
Epoch 3/10
891/891 [==============================] - 0s 158us/step - loss: 0.6793 - acc: 0.6162
Epoch 4/10
891/891 [==============================] - 0s 187us/step - loss: 0.6761 - acc: 0.6162
Epoch 5/10
891/891 [==============================] - 0s 156us/step - loss: 0.6736 - acc: 0.6162
Epoch 6/10
891/891 [==============================] - 0s 141us/step - loss: 0.6718 - acc: 0.6162
Epoch 7/10
891/891 [==============================] - 0s 156us/step - loss: 0.6704 - acc: 0.6162
Epoch 8/10
891/891 [==============================] - 0s 147us/step - loss: 0.6694 - acc: 0.6162
Epoch 9/10
891/891 [==============================] - 0s 158us/step - loss: 0.6685 - acc: 0.6162
Epoch 10/10
891/891 [==============================] - 0s 164us/step - loss: 0.6680 - acc: 0.6162

In [346]:
# Calculate predictions: predictions
predictions = model.predict(predictors[:800])

In [349]:
# Calculate predicted probability of survival: predicted_prob_true
predicted_prob_true = predictions[:,1]

## 3. Building deep learning models with keras

In [3]:
from keras.models import Sequential
from keras.layers import Dense

In [4]:
import pandas as pd
import numpy as np

### 3.1 Specifying a Linear regression model

In [5]:
wage_df = pd.read_csv("./data/hourly_wages.csv")

In [6]:
wage_df.head()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [12]:
predictors = wage_df.iloc[:,1:].as_matrix()

In [28]:
target = wage_df.iloc[:,0:1].as_matrix()

In [13]:
# Save the number of columns in predictors: n_cols
n_cols = predictors.shape[1]

In [14]:
# Set up the model: model
model = Sequential()

In [15]:
# Add the first layer
model.add(Dense(50, activation='relu', input_shape=(n_cols,)))

In [16]:
# Add the second layer
model.add(Dense(32,activation = 'relu'))

In [17]:
# Add the output layer
model.add(Dense(1))

In [18]:
# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

In [19]:
# Verify that model contains information from compiling
print("Loss function: " + model.loss)

Loss function: mean_squared_error

In [30]:
# Fit the model
model.fit(predictors, target, epochs=10)

Epoch 1/10
534/534 [==============================] - 0s 161us/step - loss: 22.7219
Epoch 2/10
534/534 [==============================] - 0s 150us/step - loss: 22.1080
Epoch 3/10
534/534 [==============================] - 0s 146us/step - loss: 21.6526
Epoch 4/10
534/534 [==============================] - 0s 155us/step - loss: 21.5601
Epoch 5/10
534/534 [==============================] - 0s 152us/step - loss: 21.3186
Epoch 6/10
534/534 [==============================] - 0s 148us/step - loss: 21.1045
Epoch 7/10
534/534 [==============================] - 0s 155us/step - loss: 20.9010
Epoch 8/10
534/534 [==============================] - 0s 133us/step - loss: 21.2599
Epoch 9/10
534/534 [==============================] - 0s 137us/step - loss: 20.7484
Epoch 10/10
534/534 [==============================] - 0s 146us/step - loss: 21.2930

### 3.2 Classification model

In [39]:
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical

In [32]:
import pandas as pd
import numpy as np

In [33]:
titanic_df = pd.read_csv("./data/titanic_all_numeric.csv")

In [34]:
titanic_df.head()

,survived,pclass,age,sibsp,parch,fare,male,age_was_missing,embarked_from_cherbourg,embarked_from_queenstown,embarked_from_southampton
0,0,3,22.0,1,0,7.2500,1,False,0,0,1
1,1,1,38.0,1,0,71.2833,0,False,1,0,0
2,1,3,26.0,0,0,7.9250,0,False,0,0,1
3,1,1,35.0,1,0,53.1000,0,False,0,0,1
4,0,3,35.0,0,0,8.0500,1,False,0,0,1

In [53]:
predictors = titanic_df.iloc[:800,1:].as_matrix()
test_data = titanic_df.iloc[800:,1:].as_matrix()

In [64]:
# Convert the target to categorical: target
target = to_categorical(titanic_df.iloc[:800,:].survived)
test_target = to_categorical(titanic_df.iloc[800:,:].survived)

In [55]:
# Set up the model
model = Sequential()

In [56]:
n_cols = predictors.shape[1]

In [57]:
# Add the first layer
model.add(Dense(32, activation='relu', input_shape=(n_cols,)))

In [58]:
# Add the output layer
model.add(Dense(2, activation='softmax'))

In [59]:
# Compile the model
model.compile(optimizer='sgd', loss='categorical_crossentropy', metrics=['accuracy'])

In [60]:
model.fit(predictors, target, epochs=30)

Epoch 1/30
800/800 [==============================] - 0s 337us/step - loss: 2.5834 - acc: 0.5413
Epoch 2/30
800/800 [==============================] - 0s 155us/step - loss: 1.3278 - acc: 0.6112
Epoch 3/30
800/800 [==============================] - 0s 154us/step - loss: 0.7712 - acc: 0.6350
Epoch 4/30
800/800 [==============================] - 0s 157us/step - loss: 0.6629 - acc: 0.6713
Epoch 5/30
800/800 [==============================] - 0s 163us/step - loss: 0.6123 - acc: 0.6837
Epoch 6/30
800/800 [==============================] - 0s 160us/step - loss: 0.6559 - acc: 0.6825
Epoch 7/30
800/800 [==============================] - 0s 185us/step - loss: 0.6143 - acc: 0.6887
Epoch 8/30
800/800 [==============================] - 0s 206us/step - loss: 0.6117 - acc: 0.7087
Epoch 9/30
800/800 [==============================] - 0s 142us/step - loss: 0.6137 - acc: 0.6975
Epoch 10/30
800/800 [==============================] - 0s 147us/step - loss: 0.6080 - acc: 0.6975
Epoch 11/30
800/800 [==============================] - 0s 146us/step - loss: 0.6080 - acc: 0.7037
Epoch 12/30
800/800 [==============================] - 0s 167us/step - loss: 0.6187 - acc: 0.6863
Epoch 13/30
800/800 [==============================] - 0s 159us/step - loss: 0.6057 - acc: 0.6900
Epoch 14/30
800/800 [==============================] - 0s 141us/step - loss: 0.5997 - acc: 0.7025
Epoch 15/30
800/800 [==============================] - 0s 132us/step - loss: 0.6069 - acc: 0.7037
Epoch 16/30
800/800 [==============================] - 0s 141us/step - loss: 0.6067 - acc: 0.6825
Epoch 17/30
800/800 [==============================] - 0s 164us/step - loss: 0.5971 - acc: 0.7050
Epoch 18/30
800/800 [==============================] - 0s 166us/step - loss: 0.6006 - acc: 0.7075
Epoch 19/30
800/800 [==============================] - 0s 153us/step - loss: 0.6083 - acc: 0.6900
Epoch 20/30
800/800 [==============================] - 0s 171us/step - loss: 0.6038 - acc: 0.7063
Epoch 21/30
800/800 [==============================] - 0s 144us/step - loss: 0.5978 - acc: 0.7075
Epoch 22/30
800/800 [==============================] - 0s 140us/step - loss: 0.5982 - acc: 0.7125
Epoch 23/30
800/800 [==============================] - 0s 150us/step - loss: 0.6028 - acc: 0.6925
Epoch 24/30
800/800 [==============================] - 0s 137us/step - loss: 0.5934 - acc: 0.7087
Epoch 25/30
800/800 [==============================] - 0s 155us/step - loss: 0.5999 - acc: 0.7013
Epoch 26/30
800/800 [==============================] - 0s 145us/step - loss: 0.5943 - acc: 0.7063
Epoch 27/30
800/800 [==============================] - 0s 149us/step - loss: 0.5889 - acc: 0.7087
Epoch 28/30
800/800 [==============================] - 0s 164us/step - loss: 0.5929 - acc: 0.6975
Epoch 29/30
800/800 [==============================] - 0s 147us/step - loss: 0.5952 - acc: 0.6938
Epoch 30/30
800/800 [==============================] - 0s 154us/step - loss: 0.5939 - acc: 0.6938

In [61]:
len(predictors)

800

In [63]:
# Calculate predictions: predictions
predictions = model.predict(test_data)

In [65]:
# Calculate predicted probability of survival: predicted_prob_true
predicted_prob_true = predictions[:,1]

In [73]:
# print predicted_prob_true
predicted_prob_true = np.round(predicted_prob_true > 0.5 )
print(predicted_prob_true)

[0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0.
 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 0. 0.
 1. 1. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1.
 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0.]

In [77]:
test_target[:,1]

array([0., 1., 1., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 1., 0., 1., 0., 0., 0., 1., 1., 1., 1., 1., 0., 0.,
       0., 1., 0., 0., 1., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 1., 0., 1., 1., 1., 1., 0., 0., 0., 1., 0., 0., 1., 1., 0.,
       0., 1., 0., 1., 0., 0., 1., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0.,
       0., 0., 1., 0., 1., 0.])

In [67]:
from sklearn.metrics import accuracy_score

In [78]:
accuracy_score(test_target[:,1], predicted_prob_true)

0.7692307692307693